@use './base' as *;

.dashboard-page{
    @include min(100%, 100vh);
    @include max(100%, 100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container{
    @include min(94%, 90vh);
    @include max(94%, 90vh);
    background-color: white;
    border-radius: 30px;
    border:2px solid $primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-text{
    @include min(100%, 25vh);
    @include max(100%, 25vh);
    font-size: clamp(1rem, 3vw, 3rem);
    text-align: center;
    font-weight: bolder;
    color: $primaryColor;
    
    img{
        width: clamp(1rem, 6vw, 6rem)
    }
}

.home-subtext{
    @include min(50%, 25vh);
    @include max(50%, 25vh);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-align: center;
    color: $secondColor;

}

.home-btn{
    @include min(15%, 7vh);
    @include max(15%, 7vh);
    border-radius: 20px;
    text-transform: uppercase;
    font-size: clamp(0.3rem, 2vw, 2rem);
    font-weight: bold;
    background-color: $primaryColor;
    color: white;
    outline: none;
    border: none;
   
}