@use './base' as *;

.dashboard-page{
    @include min(100%, 100vh);
    @include max(100%, 100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container{
    @include min(94%, 90vh);
    @include max(94%, 90vh);
    background-color: white;
    border-radius: 30px;
    border:2px solid $primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-text{
    @include min(100%, 25vh);
    @include max(100%, 25vh);
    font-size: clamp(1rem, 3vw, 3rem);
    text-align: center;
    font-weight: bolder;
    color: $primaryColor;

    img{
        width: clamp(1rem, 6vw, 6rem)
    }
}

.home-subtext{
    @include min(40%, 30vh);
    @include max(40%, 30vh);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-align: center;
    color: $secondColor;
    padding-top: 1.5rem;
}