@use "./base" as *;

.message-box {
  @include min(60%, 90vh);
  @include max(60%, 90vh);
  background-color: white;
  position: relative;
  right: -15rem;
  border: 4px solid $primaryColor;
  border-radius: 30px;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.chatname {
  @include min(100%, 5vh);
  max-height: 5vh;
  border-bottom: 3px solid $primaryColor;
  display: flex;
  padding: 1.5rem;

  color: $secondColor;
  font-size: clamp(0.5rem, 1vw, 1rem);
  text-transform: capitalize;

  h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  img {
    width: 2rem;
    border-radius: 50px;
    border: 2px solid $primaryColor;
  }
}

.conversation-box {
  @include min(100%, 60vh);
  @include max(100%, 60vh);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  gap: 1rem;
  color: white;
  overflow: auto;
}

.loading-box{
  @include min(100%, 60vh);
  @include max(100%, 60vh);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  overflow: auto;
}

.conversation-box::-webkit-scrollbar {
  width: 8px;
}
.conversation-box::-webkit-scrollbar-thumb {
  background-color: $secondColor;
  border-radius: 10px;
}

.conversation-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.senderName {
  color: $primaryColor;
  text-transform: capitalize;
  font-size: clamp(0.5rem, 1vw, 1rem);
}

.message-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  p {
    padding: 0.8rem;
    background-color: $secondColor;
    color: white;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    h4{
      padding-top: 0.5rem;
      font-size: 0.7rem;
      opacity: 0.5;
    }
  }
}

.received-item {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;


  p {
    padding: 0.8rem;
    background-color: $secondColor;
    color: white;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    h4{
      padding-top: 0.5rem;
      font-size: 0.7rem;
      opacity: 0.5;
    }
  }
}

.input-message-container {
  @include min(100%, 15vh);
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    @include min(95%, 13vh);
    @include max(95%, 13vh);
    border: 5px solid $primaryColor;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
  }
}

.message-input {
  @include min(85%, 7vh);
  @include max(85%, 7vh);
  border-bottom: 2px solid $primaryColor;
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.send-btn {
  @include min(10%, 10vh);
  @include max(10%, 10vh);
  border: none;
  outline: none;
  background-color: transparent;
  color: $primaryColor;
}
