@use "./base" as *;

.search-bar {
  @include min(80%, 5vh);
  @include max(80%, 5vh);
  border-radius: 30px;
  background-color: white;
  border: 2px solid $secondColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;


}

 .search-input {
    @include min(80%, 4vh);
    @include max(80%, 4vh);
    border-radius: 30px;
    border: none;
    outline: none;
    
  }

.search-result-container {
  @include min(80%, 65vh);
  @include max(80%, 65vh);
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;


  h3{
    font-size: 1rem;
    color: white;
    border-bottom: 1px solid white;padding: 0.5rem;
  }
  
}

.result-container{
  @include min(100%, 60vh);
  @include max(100%, 60vh);
  overflow: auto;


}

.result-container::-webkit-scrollbar {
  width: 8px; 
}

.result-container::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 10px;
}

.result-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.list{
list-style: none;
font-size: 1rem;
color: white;

}
