@use "./base" as *;

.settings-container {
  @include min(90%, 85vh);
  @include max(90%, 85vh);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.user-container {
  @include min(90%, 77vh);
  @include max(90%, 77vh);
  padding: 2rem;
  color: white;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: clamp(0.8rem, 2vw, 2rem);
    opacity: 0.8;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  p {
    font-weight: bold;
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    opacity: 0.8;
  }
  img {
    opacity: 0.5;
  }
}

.logout-container {
  @include min(90%, 7vh);
  @include max(90%, 7vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  @include min(80%, 5vh);
  @include max(80%, 5vh);
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  outline: none;
  border: none;
  color: $primaryColor;
}
