@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  background-image: url("../../src/assets/background.png");
  background-size: cover;
}

svg {
  border: none;
  outline: none;
}

.app {
  background-color: #1f3b2f;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(5rem, 15vw, 15rem);
}

.sign-in-page {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../src/assets/background.png");
}

.login-container {
  min-width: 30%;
  min-height: 60vh;
  max-width: 90%;
  max-height: 60vh;
  background-color: #1f3b2f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.login-logo {
  width: clamp(2rem, 0.66rem + 5.957vw, 9rem);
  height: clamp(2rem, 0.851rem + 5.106vw, 8rem);
}

.login-form {
  min-width: 80%;
  min-height: 25vh;
  max-width: 80%;
  max-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.login-form input {
  min-width: 60%;
  min-height: 4vh;
  max-width: 60%;
  max-height: 4vh;
  padding: 0.5rem;
}
.login-form button {
  min-width: 30%;
  min-height: 4vh;
  max-width: 40%;
  max-height: 4vh;
  border-radius: 5px;
  background-color: #495d54;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.404rem + 0.426vw, 1rem);
}
.login-form button:focus {
  background-color: green;
}

.suggestion-container {
  min-width: 90%;
  min-height: 6vh;
  max-width: 90%;
  max-height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}
.suggestion-container h3 {
  font-size: clamp(0.5rem, 0.309rem + 0.851vw, 1.5rem);
  color: white;
}

.sign-up-btn {
  min-width: 30%;
  min-height: 4vh;
  max-width: 50%;
  max-height: 4vh;
  border-radius: 5px;
  background-color: #495d54;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-page {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../src/assets/background.png");
}

.sign-up-container {
  min-width: 30%;
  min-height: 60vh;
  max-width: 90%;
  max-height: 60vh;
  background-color: #1f3b2f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.sign-up-logo {
  width: clamp(2rem, 0.66rem + 5.957vw, 9rem);
  height: clamp(2rem, 0.851rem + 5.106vw, 8rem);
}

.sign-up-form {
  min-width: 80%;
  min-height: 35vh;
  max-width: 80%;
  max-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.sign-up-form input {
  min-width: 60%;
  min-height: 4vh;
  max-width: 60%;
  max-height: 4vh;
  padding: 0.5rem;
}
.sign-up-form button {
  min-width: 40%;
  min-height: 4vh;
  max-width: 40%;
  max-height: 4vh;
  border-radius: 5px;
  background-color: #495d54;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.404rem + 0.426vw, 1rem);
}

.signup-suggestion {
  min-width: 90%;
  min-height: 6vh;
  max-width: 90%;
  max-height: 6vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}
.signup-suggestion h3 {
  font-size: clamp(0.5rem, 0.309rem + 0.851vw, 1.5rem);
  color: white;
}

.sign-in-btn {
  min-width: 30%;
  min-height: 4vh;
  max-width: 50%;
  max-height: 4vh;
  border-radius: 5px;
  background-color: #495d54;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  min-width: 4%;
  min-height: 90vh;
  max-width: 4%;
  max-height: 90vh;
  position: absolute;
  top: 5%;
  left: 3%;
  background-color: #1f3b2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  z-index: 10;
}

.nav-primary-icon {
  min-width: 100%;
  min-height: 30vh;
  max-width: 100%;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav-primary-icon img {
  width: clamp(0.5rem, 3.5vw, 3.5rem);
}
.nav-primary-icon .home-icon {
  color: white;
  width: 100%;
  height: 5vh;
  background-color: transparent;
  border: none;
  outline: none;
}
.nav-primary-icon .home-active {
  width: 100%;
  height: 5vh;
  background-color: white;
  color: #495d54;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 1.5s;
  border: none;
  outline: none;
}
.nav-primary-icon .messenger-icon {
  color: white;
  width: 100%;
  height: 5vh;
  background-color: transparent;
  border: none;
  outline: none;
}
.nav-primary-icon .messenger-active {
  width: 100%;
  height: 5vh;
  background-color: #495d54;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 1.5s;
  border: none;
  outline: none;
}

.nav-icon-user {
  min-width: 100%;
  min-height: 60vh;
  max-width: 100%;
  max-height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
}
.nav-icon-user .user-icon {
  color: white;
  width: 100%;
  height: 5vh;
  background-color: transparent;
  border: none;
  outline: none;
}
.nav-icon-user .user-active {
  width: 100%;
  height: 5vh;
  background-color: #495d54;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 1.5s;
  border: none;
  outline: none;
}

.nav-extension {
  min-width: 20%;
  min-height: 90vh;
  max-width: 20%;
  max-height: 90vh;
  background-color: #495d54;
  border-radius: 30px;
  position: absolute;
  left: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inner-container {
  min-width: 90%;
  min-height: 85vh;
  max-width: 90%;
  max-height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.messenger-nav-container {
  min-width: 100%;
  min-height: 7vh;
  max-width: 100%;
  max-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.messenger-navbar {
  min-width: 80%;
  min-height: 5vh;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.messenger-navbar .add-icon {
  color: #495d54;
  background-color: transparent;
  height: 5vh;
  width: 25%;
  border: none;
  outline: none;
}
.messenger-navbar .add-icon:focus {
  background-color: #495d54;
  width: 25%;
  height: 4vh;
  color: white;
  border-radius: 15px;
  transform: scale(1);
}
.messenger-navbar .dm-icon {
  color: #495d54;
  background-color: transparent;
  height: 5vh;
  width: 25%;
  border: none;
  outline: none;
}
.messenger-navbar .dm-icon:focus {
  background-color: #495d54;
  width: 25%;
  height: 4vh;
  color: white;
  border-radius: 15px;
  transform: scale(1);
}
.messenger-navbar .channels-icon {
  color: #495d54;
  background-color: transparent;
  height: 5vh;
  width: 25%;
  border: none;
  outline: none;
}
.messenger-navbar .channels-icon:focus {
  background-color: #495d54;
  width: 25%;
  height: 4vh;
  color: white;
  border-radius: 15px;
  transform: scale(1);
}

.dashboard-page {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  min-width: 94%;
  min-height: 90vh;
  max-width: 94%;
  max-height: 90vh;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #1f3b2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text {
  min-width: 100%;
  min-height: 25vh;
  max-width: 100%;
  max-height: 25vh;
  font-size: clamp(0.8rem, 3vw, 3rem);
  text-align: center;
  font-weight: bolder;
  color: #1f3b2f;
}
.home-text img {
  width: clamp(1rem, 6vw, 6rem);
}

.home-subtext {
  min-width: 50%;
  min-height: 25vh;
  max-width: 50%;
  max-height: 25vh;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  text-align: center;
  color: #495d54;
}

.home-btn {
  min-width: 15%;
  min-height: 7vh;
  max-width: 15%;
  max-height: 7vh;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: clamp(0.3rem, 2vw, 2rem);
  font-weight: bold;
  background-color: #1f3b2f;
  color: white;
  outline: none;
  border: none;
}

.home-btn:focus {
  background-color: green;
}

.message-panel {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box {
  min-width: 60%;
  min-height: 90vh;
  max-width: 60%;
  max-height: 90vh;
  background-color: white;
  position: relative;
  right: -15rem;
  border: 4px solid #1f3b2f;
  border-radius: 30px;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.chatname {
  min-width: 100%;
  min-height: 5vh;
  max-height: 5vh;
  border-bottom: 3px solid #1f3b2f;
  display: flex;
  padding: 1.5rem;
  color: #495d54;
  font-size: clamp(0.5rem, 1vw, 1rem);
  text-transform: capitalize;
}
.chatname h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.chatname img {
  width: 2rem;
  border-radius: 50px;
  border: 2px solid #1f3b2f;
}

.conversation-box {
  min-width: 100%;
  min-height: 60vh;
  max-width: 100%;
  max-height: 60vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  gap: 1rem;
  color: white;
  overflow: auto;
}

.loading-box {
  min-width: 100%;
  min-height: 60vh;
  max-width: 100%;
  max-height: 60vh;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  overflow: auto;
}

.conversation-box::-webkit-scrollbar {
  width: 8px;
}

.conversation-box::-webkit-scrollbar-thumb {
  background-color: #495d54;
  border-radius: 10px;
}

.conversation-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.senderName {
  color: #1f3b2f;
  text-transform: capitalize;
  font-size: clamp(0.5rem, 1vw, 1rem);
}

.message-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.message-item p {
  padding: 0.8rem;
  background-color: #495d54;
  color: white;
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.message-item p h4 {
  padding-top: 0.5rem;
  font-size: 0.7rem;
  opacity: 0.5;
}

.received-item {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
}
.received-item p {
  padding: 0.8rem;
  background-color: #495d54;
  color: white;
  border-radius: 30px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.received-item p h4 {
  padding-top: 0.5rem;
  font-size: 0.7rem;
  opacity: 0.5;
}

.input-message-container {
  min-width: 100%;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-message-container div {
  min-width: 95%;
  min-height: 13vh;
  max-width: 95%;
  max-height: 13vh;
  border: 5px solid #1f3b2f;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
}

.message-input {
  min-width: 85%;
  min-height: 7vh;
  max-width: 85%;
  max-height: 7vh;
  border-bottom: 2px solid #1f3b2f;
  border-left: none;
  border-top: none;
  border-right: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.send-btn {
  min-width: 10%;
  min-height: 10vh;
  max-width: 10%;
  max-height: 10vh;
  border: none;
  outline: none;
  background-color: transparent;
  color: #1f3b2f;
}

.search-bar {
  min-width: 80%;
  min-height: 5vh;
  max-width: 80%;
  max-height: 5vh;
  border-radius: 30px;
  background-color: white;
  border: 2px solid #495d54;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.search-input {
  min-width: 80%;
  min-height: 4vh;
  max-width: 80%;
  max-height: 4vh;
  border-radius: 30px;
  border: none;
  outline: none;
}

.search-result-container {
  min-width: 80%;
  min-height: 65vh;
  max-width: 80%;
  max-height: 65vh;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;
}
.search-result-container h3 {
  font-size: 1rem;
  color: white;
  border-bottom: 1px solid white;
  padding: 0.5rem;
}

.result-container {
  min-width: 100%;
  min-height: 60vh;
  max-width: 100%;
  max-height: 60vh;
  overflow: auto;
}
.result-container h4 {
  font-size: 1rem;
  color: white;
  border-bottom: 1px solid white;
  padding: 0.5rem;
}

.result-container::-webkit-scrollbar {
  width: 8px;
}

.result-container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.result-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.selected-list {
  list-style: none;
  font-size: 1rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.selected-list li {
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selected-list button {
  width: 15%;
  height: 4vh;
  border-radius: 50%;
  background-color: #1f3b2f;
  color: white;
  border: none;
  outline: none;
}
.selected-list button:focus {
  background-color: green;
}

.latest-list {
  list-style: none;
  font-size: 1rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-overflow: ellipsis;
}

.settings-container {
  min-width: 90%;
  min-height: 85vh;
  max-width: 90%;
  max-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.user-container {
  min-width: 90%;
  min-height: 77vh;
  max-width: 90%;
  max-height: 77vh;
  padding: 2rem;
  color: white;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
.user-container h1 {
  font-size: clamp(0.8rem, 2vw, 2rem);
  opacity: 0.8;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.user-container p {
  font-weight: bold;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  opacity: 0.8;
}
.user-container img {
  opacity: 0.5;
}

.logout-container {
  min-width: 90%;
  min-height: 7vh;
  max-width: 90%;
  max-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  min-width: 80%;
  min-height: 5vh;
  max-width: 80%;
  max-height: 5vh;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  outline: none;
  border: none;
  color: #1f3b2f;
}

.friend-list-container {
  min-width: 80%;
  min-height: 75vh;
  max-width: 80%;
  max-height: 75vh;
  padding: 0.5rem;
}
.friend-list-container h1 {
  color: white;
  border-bottom: 2px solid white;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
}

.friend-list-section {
  min-width: 100%;
  min-height: 70vh;
  max-width: 100%;
  max-height: 70vh;
  overflow: auto;
  list-style: none;
  padding-top: 1rem;
}
.friend-list-section button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  text-transform: capitalize;
  padding: 0.5rem;
  font-size: clamp(0.5rem, 1vw, 1rem);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}
.friend-list-section button img {
  width: 2rem;
  border-radius: 50px;
}
.friend-list-section button:focus {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 1s;
  border-radius: 10px;
}

.channels-container {
  min-width: 80%;
  min-height: 75vh;
  max-width: 80%;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  padding: 0.5rem;
  gap: 1rem;
  border-bottom: 3px solid white;
  border-bottom-style: dashed;
}

.channels-container::-webkit-scrollbar {
  width: 5px;
}

.channels-container::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.dropdown-btn {
  min-width: 60%;
  min-height: 3vh;
  max-width: 60%;
  max-height: 3vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: none;
  color: #1f3b2f;
  font-size: clamp(0.5rem, 1vw, 1rem);
  font-weight: bold;
}

.friends-dropdown {
  min-width: 100%;
  min-height: 30vh;
  max-width: 100%;
  max-height: 30vh;
  border: 3px solid white;
  border-style: dashed;
  padding: 0.5rem;
}
.friends-dropdown h1 {
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  color: white;
}

.channel-form {
  min-width: 100%;
  min-height: 25vh;
  max-width: 100%;
  max-height: 25vh;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.channel-form button {
  min-width: 40%;
  min-height: 3vh;
  max-width: 40%;
  max-height: 3vh;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #1f3b2f;
}
.channel-form button:focus {
  background-color: green;
  color: white;
  transition: 1s;
}
.channel-form .input-form {
  min-width: 95%;
  min-height: 3vh;
  max-width: 95%;
  max-height: 3vh;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.channel-form .user-dropdown {
  min-width: 100%;
  min-height: 13vh;
  max-width: 100%;
  max-height: 13vh;
  box-shadow: 0 10px 6px 0px rgba(0, 0, 0, 0.38) inset;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0.5rem;
}
.channel-form .user-dropdown div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  border-bottom: 3px solid #495d54;
}
.channel-form .user-dropdown label {
  max-width: 80%;
  list-style: none;
  color: white;
  font-size: clamp(0.5rem, 1vw, 1rem);
  text-overflow: ellipsis;
  overflow: hidden;
}
.channel-form .user-dropdown input {
  width: 2vh;
}
.channel-form .user-dropdown::-webkit-scrollbar {
  width: 1%;
}

.highlight {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 1s;
  border-radius: 5px;
}

.channel-list-container {
  border-top: 3px solid white;
  border-top-style: dashed;
  min-width: 100%;
  min-height: 60vh;
  max-width: 100%;
  max-height: 60vh;
  padding: 1rem;
  overflow: auto;
}
.channel-list-container li {
  width: 100%;
  height: 5vh;
  list-style: none;
  color: white;
  padding: 0.5rem;
  padding-right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
}
.channel-list-container li img {
  width: 15%;
  border-radius: 50%;
}

.channel-list-container::-webkit-scrollbar {
  width: 1%;
}

.dropdown-member-list {
  max-width: 100%;
  max-height: 20vh;
  border: 4px solid white;
  border-style: dashed;
  overflow: auto;
  display: flex;
  align-items: center;
}
.dropdown-member-list p {
  font-size: clamp(0.5rem, 1vw, 1rem);
  color: white;
}
.dropdown-member-list li {
  height: 4vh;
  padding: none;
}

.dropdown-member-list::-webkit-scrollbar {
  width: 5px;
}

.dropdown-member-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

.loader-logo {
  position: relative;
  width: clamp(2rem, 10vw, 10rem);
  left: 1rem;
  top: 2rem;
  animation: bounce 1.5s infinite;
}

.loader {
  width: clamp(1rem, 8vw, 8rem);
  height: clamp(1rem, 8vw, 8rem);
  border: 20px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

.spinner {
  width: 10rem;
  position: relative;
  left: 2.5rem;
  bottom: -5rem;
  opacity: 0.3;
}

.spinner2 {
  width: 10rem;
  position: relative;
  left: 2.5rem;
  bottom: -5rem;
  opacity: 0.3;
}

.dotloader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1f3b2f;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #1f3b2f;
    box-shadow: 32px 0 rgba(255, 255, 255, 0.1333333333), -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #1f3b2f, -32px 0 #1f3b2f;
  }
  100% {
    background-color: #1f3b2f;
    box-shadow: 32px 0 #fff, -32px 0 #1f3b2f;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=App.css.map */